.partners
    padding-bottom: 17px
    &-main
        padding-bottom: 125px
    &__title
        display: inline-block
        margin-top: 0 !important
        &:after
            right: -14px
    &-wrap
        display: flex
        justify-content: space-between