.project-slider
    display: none
.project-slider_active
    display: block
.project
    padding-bottom: 54px
    &-categories
        display: flex
        justify-content: space-around
        padding-left: 0
        list-style: none
        margin-bottom: 50px
    &-category
        &__link
            position: relative
            text-transform: uppercase
            font-size: 24px
            color: #000
        &_active
            position: relative
            &:before
                position: absolute
                content: ''
                top: -5px
                right: -8px
                width: 23px
                height: 23px
                background: $orange
                border-radius: 50%
@media (max-width: 1200px)
    .project__big
        display: none
    .project__content
        max-width: 605px
@media (max-width: 992px)
    .projects__title
        margin-top: 50px
    .project-categories
        justify-content: space-between
    .project-category__link
        font-size: 20px
@media (max-width: 768px)
    .project-category__link
        font-size: 18px
    .project-categories
        flex-wrap: wrap
