@media (max-width:767px)
    .main__content
        max-width: 286px

.main
    height: 540px
    width: 100%
    background-image: url('../img/page-climat/main/back.jpg')
    background-size: cover
    background-position: center center
    color: #fff
    align-items: center   
    display: flex

.main__content
    width: 876px
    height: 380px
    background:#00000034
    border-top-right-radius: 40px
    border-bottom-right-radius: 40px
    padding: 48px 30px 27px 30px
    margin-top: 45px
    margin-bottom: 46px  
    align-items: center 


.main__desc
    margin-bottom: 46px    
    max-width: 526px

.arrow__bread
    margin: 0px 21px