@media (max-width:767px)
    .productoviy__btn::after
        left: 84%!important

    .prod__box
        display: flex
        justify-content: center
    .product
        &__card
            display: flex
            flex-direction: column
            height: 350px!important
            padding: 25px 0px 20px 0px!important
            text-align: center
        &__info
            text-align: center
            padding-left: 0px!important
        &__cont
            flex-direction: column
        &__title
            margin-bottom: 40px!important
.product__cont
    display: flex
    justify-content: space-between
    width: 100%
    flex-wrap: wrap
.products__img
    max-width: 200px
    max-height: 193px
    width: 100%
.product__card
    display: flex
    background: #FFFFFF
    border-radius: 20px
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
    width: 576px
    padding: 34px 0px 30px 20px
    margin: 0px 20px 20px 0px
    height: 220px
    transition: 0.3s
    &:hover
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.137)
        transition: 0.3s
        transform: scale(1.01)

.product__info
    padding-left: 27px
    max-width: 316px
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-around
    & .btn
        width: 95px
.product__title
    margin: 0
    font-size: 23px
.productoviy__btn
    text-align: center
    margin-top: 60px
    position: relative
    & .btn
        background: #8B86BC
    &::after
        content: url('../img/page-climat/products/white__arro.svg')
        position: absolute
        left: 60%
        cursor: pointer
        top: 1px
    &:hover::after
        content: url('../img/page-climat/products/arrows__black.svg')
        width: 17px
        height: 12px
.products__title
    position: relative
    &::after
        width: 46px
        height: 46px
        content: ''
        position: absolute
        // background: $green
        border-radius: 100px
        z-index: -1
        position: relative
    &::after
        width: 46px
        height: 46px
        content: ''
        position: absolute
        background: $green
        border-radius: 100px
        z-index: -1
        top: -6px
.products-horeca
    padding-bottom: 30px
    & .products
        &-list
            display: flex
            flex-wrap: wrap
        &__link
            position: absolute
            top: 18px
            left: 18px
            color: $orange
        &__tile
            width: 380px
            text-align: center
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
            height: 457px
            display: flex
            flex-direction: column
            justify-content: space-between
            position: relative
            border-radius: 20px
            margin-bottom: 35px
            &:not(:nth-child(3))
                margin-right: 30px
            &:nth-child(6)
                margin-right: 0
        &-img
            margin:
                top: 18px
                left: 15px
                right: 15px
            height: 312px
            display: flex
            justify-content: center
            align-items: center
        &__img
            max-width: 100%
            max-height: 100%
        &-name
            background: $orange
            height: 100px
            display: flex
            align-items: center
            justify-content: center
            font-size: 28px
            font-family: "Montserrat SemiBold"
            color: #fff
            border-radius: 20px
        &-button
            display: block
            margin-left: auto
            margin-right: auto
            border: none
            padding: 26px 58px 26px 43px
            font-size: 18px
            font-family: "Montserrat SemiBold"
            position: relative
            &:after
                content: ''
                position: absolute
                top: 50%
                right: 27px
                margin-top: -8px
                width: 17px
                height: 17px
                background: url('../img/index/products_horeca/products_arrow.svg')
