.serv_step
    margin-top: 100px   
.serv
    display: flex
    justify-content: space-between
    margin-top: 43px
    &-cart
        background: #FFFFFF
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
        border-radius: 20px 
        padding: 36px 10px 0px 10px 
        text-align: center
        margin-right: 13px
        max-width: 196px
        max-height: 217px
        width: 100%
    &__img
        width: 100%
        max-width: 51px
        max-height: 51px
    &-title  
        font-size: 20px
        font-weight: 600  
.services__title
    margin-top: 0px
    margin-bottom: 50px
    position: relative
    &::after 
        width: 46px
        height: 46px
        content: ''
        position: absolute
        background: $green
        border-radius: 100px
        z-index: -1
        left: 23.7%
        top: -6px
.mobile-serv
    display: none
@media (max-width:767px)
    .mobile-serv
        display: block   
    .serv_step
        display: none        