.submission
    display: flex
    margin-top: 100px
    &__forms
        background: #FFFFFF
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1)
        border-radius: 8px
        display: flex
        flex-direction: column
        justify-content: space-between
        max-width: 633px
        max-height: 461px
        height: 100%
        padding: 45px 30px 17px 30px
        margin-bottom: 40px
        margin-left: -30px
input.organizations
    background-image: url('../img/page-climat/submissions/user.svg')
    background-repeat: no-repeat
    background-size: 5%
    background-position-y: 39%
    background-position-x: 3%
    padding: 10px
    padding-left: 40px
    border-bottom: 1px solid #C9C9C9
    width: 210px


input.name__man
    background-image: url('../img/page-climat/submissions/user.svg')
    background-repeat: no-repeat
    background-size: 5%
    background-position-y: 39%
    background-position-x: 3%
    padding: 10px
    padding-left: 40px
    border-bottom: 1px solid #C9C9C9
    width: 210px

input.tel__phone
    background-image: url('../img/page-climat/submissions/phone.svg')
    background-repeat: no-repeat
    background-size: 5%
    background-position-y: 39%
    background-position-x: 3%
    padding: 10px
    padding-left: 40px
    border-bottom: 1px solid #C9C9C9
    width: 210px


input.email__user
    background-image: url('../img/page-climat/submissions/envelope.svg')
    background-repeat: no-repeat
    background-size: 5%
    background-position-y: 39%
    background-position-x: 3%
    padding: 10px
    padding-left: 40px
    border-bottom: 1px solid #C9C9C9     
    width: 210px   

input.oborudovanie
    padding: 0px 30px
    border-bottom: 1px solid #C9C9C9  
    height: 150px
   
    

input.info
    padding: 0px 30px
    border-bottom: 1px solid #C9C9C9  
    height: 100px      
   
.two__srokeForm
    margin-top: 40px  
    display: flex
    justify-content: space-between
.subm
    &__title
        text-align: left
        max-width: 431px
        position: relative
        z-index: 1
        &::after 
             width: 46px
             height: 46px
             content: ''
             position: absolute
             background: $green
             border-radius: 100px
             z-index: -1
             left: 74.1%
             top: 96px
    &__imgs
        text-align: right
        display: flex
        justify-content: flex-end
        z-index: -2
    
.subm__imgss 
    max-width: 438px
    width: 100%  
    margin-top: -76px   
    z-index: -1 
.left__col
    max-width: 582px
    width: 100% 
    margin-right: 65px   
    margin-left: -20px 

.one__strokeForm    
    display: flex
    justify-content: space-between
.forms__btns
    text-align: right    



    

